@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--text: '#262632';
	--backgroundPrimary: '#EFEFEF';
	--backgroundSecondary: '#E8E8E8';
	--backgroundTertirary: '#DBDBDB';
	--primary: '#454ade';
	--secondary: '#ee5622';
	--success: '#139a43';
	--danger: '#fd584f';
	--warning: '#eca72c';
}

body {
	background-color: var(--backgroundPrimary);
	color: var(--text);
}

body > * {
	font-family: 'Roboto Mono', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
