:root {
	--text: '#262632';
	--backgroundPrimary: '#EFEFEF';
	--backgroundSecondary: '#E8E8E8';
	--backgroundTertirary: '#DBDBDB';
	--primary: '#454ade';
	--secondary: '#ee5622';
	--success: '#139a43';
	--danger: '#fd584f';
	--warning: '#eca72c';
}

body {
	background-color: var(--backgroundPrimary);
	color: var(--text);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
